<form>
    <div class="article-component">
        <table>
            <tr>
              <td>
                  <input type="text">
              </td>
              <td>
                <input type="text">
              </td>
            </tr>
            <tr>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
          </table>
    </div>
    <div class="buttons">
        <button name="Save">Save</button>
        <button name="Cancel">Cancel</button>
    </div>
</form>

<p>article works!</p>
