ul {
    padding-right: 40px;
}

ul > li {
    display: flex;
    align-items: center;
    border: 1px solid #D5D4D9;
    padding: 40px;
    margin-bottom: 20px;
}

.article-info {
    min-width: 130px;
    padding-left: 30px;
    margin-left: auto;
}

.article-date {
    margin-left: auto;
}

.toolbar {
    background-color: #673ab7;
    color: #fff;
}

mat-toolbar-row {
    justify-content: space-between;
}

.selected-source {
    justify-content: center;
}

input {
    background-color: #673ab7 !important;
}

button {
    color: #fff;
    border: 1px solid #fff;
}

mat-icon {
    color: #673ab7;
}

.delete, .update {
    background-color: #fff;
}

.header-image {
    background-size: cover;
}

.mat-card-avatar {
    height: 70px;
    width: 70px;
}
