<div class="news-container">
  <ul>
    <li *ngFor="let article of articles | filter:searchTerm | filterSelector:source">
      <div class="article-data">
        <div>
          {{article.heading}}
        </div>
        <div>
          {{ article.content }}
        </div>
      </div>
      <div class="article-info">
        <div class="article-source">
          {{ article.sourceName }}
        </div>
        <div class="article-date">
          {{ article.date.toDate() | date: 'yyyy dd MMM hh:mm'  }} 
        </div>
      </div>
    </li>
  </ul>
</div>
