<header>
    <mat-toolbar color="primary">

        <mat-toolbar-row>
            <h2 class="selected-source">{{ title }}</h2>
        </mat-toolbar-row>
  
        <mat-toolbar-row>
          <app-sources-selector (sourceNameChange)="recieveSourceName($event)">
          </app-sources-selector>
  
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="searchTerm">
            <i class="material-icons">search</i>
            <mat-label>Search</mat-label>
          </mat-form-field>  
          <!-- <nav>
            <a routerLink="add" routerLinkActive="active">Add</a>
          </nav> -->
          <a routerLink="add" routerLinkActive="active">Add</a>
        </mat-toolbar-row>
  
    </mat-toolbar>
</header>

<!-- <app-toolbar [(searchTerm)]="search" (titleChange)="recieveSourceFilter($event)">
</app-toolbar> -->


<app-article>
</app-article>

<app-news-feed [(searchTerm)]="searchTerm" [(source)]="title">  
</app-news-feed>

<router-outlet></router-outlet>

<!-- <header>

</header>
<header>
<nav></nav>
</header>
<main>
<section>
<article>
    <section>

    </section>
</article>
</section>
<section>
    
</section>
<article>
    <header>1</header>
    <footer>2</footer>
</article>

</main>
<aside>

</aside>
<footer>
    <nav></nav>
</footer> -->
