<!-- <header>
    <mat-toolbar class="toolbar">

        <mat-toolbar-row class="selected-source">
            <h2>{{ title }}</h2>
        </mat-toolbar-row>
  
        <mat-toolbar-row class="toolbar-items">

          <app-sources-selector class="sources-selector" (sourceNameChange)="recieveSourceName($event)">
          </app-sources-selector>
  
          <mat-form-field class="search">
            <input matInput [(ngModel)]="searchTerm">
            <i class="material-icons">search</i>
            <mat-label>Search</mat-label>
          </mat-form-field>

          <nav class="add-article">
            <button mat-raised-button color="primary" (click)="createArticle()" >Add article</button>
          </nav>
        </mat-toolbar-row>
  
    </mat-toolbar>
</header> -->





<!-- <app-toolbar [(searchTerm)]="search" (titleChange)="recieveSourceFilter($event)">
</app-toolbar> -->


<!-- <app-article>
</app-article> -->

<!-- <main>
  <app-news-feed [(searchTerm)]="searchTerm" [(source)]="title">  
  </app-news-feed>
</main> -->

<!-- <app-news-feed>  
</app-news-feed> -->

<router-outlet></router-outlet>

<!-- <header>

</header>
<header>
<nav></nav>
</header>
<main>
<section>
<article>
    <section>

    </section>
</article>
</section>
<section>
    
</section>
<article>
    <header>1</header>
    <footer>2</footer>
</article>

</main>
<aside>

</aside>
<footer>
    <nav></nav>
</footer> -->
