<div class="container">
  <div class="header">
    <h3>{{ sourceName }}</h3>
  </div>
  <!-- <div class="toolbar">
    <tr>
      <th>Firstname</th>
      <th>Lastname </th>
      <th>Age </th>
    </tr>
  </div> -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div>
        <sources-selector-component>
        </sources-selector-component>
        <!-- <div class="sources-selector">
        </div> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  
  <div>
    <app-article>
    </app-article>
  </div>
  <div>
    <app-create-article>
    </app-create-article>
  </div>
  <div>
    <app-news-feed>
    </app-news-feed>
  </div>
  
</div>