ul {
    padding-right: 40px;
}

ul > li {
    display: flex;
    align-items: center;
    border: 1px solid #D5D4D9;
    padding: 40px;
    margin-bottom: 20px;
}

.article-date {
    margin-left: auto;
}