<div class="mat-elevation-z8">
    <div *ngFor="let article of articles | filter:searchTerm | filterSelector:source">
      {{article.heading}}

    </div>
</div>

      <!-- <table> 
        <tr *ngFor="let article of articles | filter:searchTerm | filterSelector:source">
            <td>
              {{ article.heading }}
            </td>
            <td>
              {{ article.date | date }}
            </td>
            <td>
              {{ article.content }}
            </td>
        </tr>
    </table> -->
