<div class="news-container">
  <ul>
    <li *ngFor="let article of articles | filter:searchTerm | filterSelector:source">
      <div class="article-data">
        <div>
          {{article.heading}}
        </div>
        <div>
          {{ article.content }}
        </div>
      </div>
      <div class="article-date">
        {{ article.date }}
      </div>
    </li>
  </ul>
</div>

      <!-- <table> 
        <tr *ngFor="let article of articles | filter:searchTerm | filterSelector:source">
            <td>
              {{ article.heading }}
            </td>
            <td>
              {{ article.date | date }}
            </td>
            <td>
              {{ article.content }}
            </td>
        </tr>
    </table> -->
