<div class="mat-elevation-z8">
    <div>
      <input type="text" [(ngModel)]="searchTerm"/>  
    </div>
    <div *ngFor="let article of articles | filter:searchTerm">{{article.heading}}
      <!-- <table>
        <input type="text" [(ngModel)]="term">  
        <tr *ngFor="let article of articles">
            <td>
              {{ article.heading }}
            </td>
            <td>
              {{ article.date | date }}
            </td>
            <td>
              {{ article.content }}
            </td>
        </tr>
    </table> -->
    </div>
